@import url(//fonts.googleapis.com/css?family=Lato:700);

		body {
			margin:0;
			font-family:'Lato', sans-serif;
			text-align:center;
		}

		.welcome {
			width: 900px;
			margin:0 auto;
			text-align: justify;
			color:black;
			line-height: 2.0em;
			padding-bottom: 50px;
				
		}

		.fancy {
			color:black;
			font-size: 1.5em;
			font-weight: bold;
			margin-left: 0px;
			line-height: 0.4em;
			float:right;
		}


		.line { 
			padding-top:60px;
			border-bottom: 1px solid lightgrey;
		}

		blockquote {
			float:left;
			font-size: 1.5em;
			color:teal;
			margin-left: 0px;
			line-height: 0em;
		}

		h1 { 
			color:#bc7218;
		}
	

